body {
   font-family: Roboto, serif;
   background-color: #1f2937;
   color: #ffffff;
   display: flex;
   flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-desc, .header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-left, .hero-right {
    width: 400px;
    flex: 1 1 auto;
} */

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
}

.sign-up-1 {
    border: 0;
}

.section-2 {
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.infos {
    display: flex;
    justify-content: center;
    margin: 16px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px
}

.info img {
    width: 100px;
    height: 100px;
    border-radius: 11px;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 0 16px;
}

.author {
    align-self: flex-end;
    padding: 0 16px;
}

.section-4 {
    background-color: #ffffff;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-radius: 11px;
}

.action-title {
    font-size: 24px;
    font-weight: 700;
}

.sign-up-2 {
    border-color: #f9faf8;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
    text-align: center;
    padding: 16px 0;
}

.section-1, .section-2, .section-3 {
    height: 300px;
    flex: 1 1 auto;
    padding: 16px 77px;
}