body {
   font-family: Roboto, serif;
   background-color: #1f2937;
   color: #ffffff;
   display: flex;
   flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-desc, .header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left, .hero-right {
    flex: 1 1 auto;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.section-2 {
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.infos {
    display: flex;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    align-self: flex-end;
}

.section-4 {
    background-color: #ffffff;
}

.action-box {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
    text-align: center;
}

.section-1, .section-2, .section-3, .section-4 {
    height: 300px;
    flex: 1 1 auto
}