body {
   font-family: Roboto, serif;
   background-color: #1f2937;
   color: #ffffff;
   display: flex;
   flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.section-2 {
    background-color: #ffffff;
    color: black;
}

.section-3 {
    background-color: rgb(185, 185, 185);
    color: black;
}

.section-4 {
    background-color: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}