body {
   font-family: Roboto, serif;
   background-color: #1f2937;
}

.section-2, .section-4 {
    background-color: #ffffff;
}

.section-3 {
    background-color: rgb(185, 185, 185);
}

ul {
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}